.codes pre
  background-color #FAFAFA !important;

.codes code
  color #5e6d82 !important;


.table
  width 100%;
  display table;


.table tr {
  border: none;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .15)
}

.table td,
.table th {
  text-align: center;
  padding: 15px 10px;
  border: none
}




